.nav {  padding-left: 0;  margin-bottom: 0;  list-style: none;}
.nav > li {  position: relative;  display: block;}
.nav > li > a {  position: relative;  display: block;  padding: 10px 15px;}
.nav > li > a:hover,
.nav > li > a:focus {  text-decoration: none;    background-color: #fff;  border-left: 0px solid #cccccc;border-top: 0px solid #cccccc;border-right: 0px solid #cccccc;border-bottom: 0px solid transparent;}
.nav > li.disabled > a {  color: #777;}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {  color: #777;  text-decoration: none;  cursor: not-allowed;  background-color: transparent;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {  background-color: #eee;  border-color: #337ab7;}
.nav .nav-divider {  height: 1px;  margin: 9px 0;  overflow: hidden;  background-color: #e5e5e5;}
.nav > li > a > img {  max-width: none;}
.nav-tabs {  border-bottom: 1px solid #ddd;}
.nav-tabs > li {  float: left; margin-bottom: -1px;}
.nav-tabs > li > a {  margin-right: 0px;color: #15264c;  line-height: 1.42857143;background-color: #transparent; border: 0px solid  transparent; border-radius: 5px 5px 0 0; text-align:center; font-size: 18px;text-transform: uppercase;    font-weight: 500;}
.nav-tabs > li > a:hover {}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {  color: #15264c;  cursor: default;  background-color: #fff; text-align:center;border-left:transparent;border-top: transparent;border-right:  transparent;border-bottom: 4px solid #611d53;}
.nav-tabs.nav-justified { width: 100%;  border-bottom: 0;}
.nav-tabs.nav-justified > li {  float: none;}
.nav-tabs.nav-justified > li > a {  margin-bottom: 5px;  text-align: center;}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {  top: auto;  left: auto;}
.nav-tabs-0{border-bottom: 1px solid #ddd;  } 
.nav-tabs-0 > li.active > a, .nav-tabs-0 > li.active > a:hover, .nav-tabs-0 > li.active > a:focus{color:#15264c;cursor:default;background-color:#fff;text-align:center;border-left:transparent;border-top:transparent;border-right:transparent;border-bottom:4px solid #611d53;}
.nav-tabs-0 > li > a {margin-right: 0px;  color: #15264c; line-height: 1.42857143;    background-color: #transparent;    border: 0px solid transparent;border-radius: 5px 5px 0 0;text-align: center;font-size: 18px; text-transform: uppercase;font-weight: 500;}
 
	

@media only screen and (min-width:0px) and (max-width:1000px){
.nav-tabs > li > a{font-size: 15px;}
.nav > li > a{padding: 5px 7px;}
.nav-tabs-0 > li > a{font-size: 13px;}
	}
@media only screen and (min-width:1001px) and (max-width:1152px){
.nav-tabs > li > a{font-size:12px;}
.nav > li > a{padding: 10px 9px;}
.nav-tabs-0 > li > a{font-size: 12px;}
}

@media only screen and (min-width:1153px) and (max-width:1280px){
.nav-tabs > li > a{font-size:14px;}
.nav > li > a{padding: 10px 9px;}
.nav-tabs-0 > li > a{font-size: 14px;}
}

@media only screen and (min-width:1281px) and (max-width:1366px){
.nav-tabs > li > a{font-size:16px;}
.nav > li > a{padding: 10px 9px;}
.nav-tabs-0 > li > a{font-size: 16px;}
}

@media only screen and (min-width:1367px) and (max-width:1440px){
.nav-tabs > li > a{font-size:16px;}
.nav > li > a{padding: 10px 9px;}
.nav-tabs-0 > li > a{font-size: 16px;}
}
@media only screen and (min-width:1441px) and (max-width:1600px){
.nav-tabs > li > a{font-size:16px;}
.nav > li > a{padding: 10px 9px;}
.nav-tabs-0 > li > a{font-size: 16px;}
}
@media (min-width: 768px) {
.nav-tabs.nav-justified > li {    display: table-cell;    width: 1%;  }
.nav-tabs.nav-justified > li > a {    margin-bottom: 0;  }
}
.nav-tabs.nav-justified > li > a {  margin-right: 0;  border-radius: 4px;}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {  border: 1px solid #ddd;}